

/* Landscape phones and portrait tablets */

@media (max-width: 767px) {

}


/* Landscape phones and smaller */

@media (max-width: 480px) {
}

			#landingImg{
				width: 400px;
				/*background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);*/
			}
			#landing{
				background-color: white;
				margin:auto;
				margin-top: 30px;
				width: 400px;
				padding: 7px;
    			padding-bottom: 4px;
    			box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
			}
			h1{
				font-weight: 200;
    			font-size: 105px;
    			text-align: center;
			}


			body{
				background-color:#e4e4e4;
				font-family: 'Roboto',sans serif;
				/*background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);*/
			}
			.card {
 			    background-color:#FFFFFF;
  				box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  				transition: 0.3s;
  				border: 1px solid #ddd;
  				margin:2%;
  				padding-left: 0px;
  				padding-right: 0px;
  				border-radius: 3px;
  				display: inline-block;
  				padding: 20px;
  				
			}
			.card h2{
				font-family: 'Roboto';
  				font-weight: 200;
  				font-size: 40px;
  				margin: 10px;
			}
			.bio{
				width: 590px;
				/*box-shadow:0 4px 8px 0 rgba(27, 255, 0, 0.2);*/
			}

			.tedx img{
				width: 250px;
				
			}

			.tedx a{
				color:red;
				text-align: center;
				text-decoration: none;

			}

			.tedx{

				box-shadow:0 4px 8px 0 rgba(255, 0, 0, 0.2);
			}

			.tedx:hover {

				box-shadow:0 4px 20px 0 rgba(255, 0, 0, 0.47);
			}
			.tedx h2{
				margin-top: 0px;
			}
            
			.dhwani img{
				width: 170px;
				display: block;
				margin: auto;
			}

			.dhwani a{

				color:orange;
				text-decoration: none;
			}

			.dhwani{
				box-shadow:0 4px 8px 0 rgba(255, 153, 0, 0.2);
				vertical-align: top;
				width:240px;
			}

			.dhwani h2{
				padding-top: 20px;
			}

			.dhwani:hover{
				box-shadow:0 4px 20px 0 orange;
			}

			#firstRow{

			}

			.projects{

			}
			.links h2{
	font-size: 50px;	
}






	/* Portrait tablets and small desktops */
/*bug fix for team page*/		
@media (max-width: 1500px) {
.links{ 
	text-align: center;
	margin-left: 0px;
	margin-right: 0px;
		width: 40px;
	}

.links h2{
	font-size: 35px;
	margin:0px;
}

.links i{
	margin:auto;
}

}